<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Form evento teste</title>
		</head>
	<body>

		<h1>Publicar Evento</h1>
		<br/>

		<form action="/evento/salvar" method="post">
			<label>Nome</label>
			<input type="text" id="nome" name="nome" placeholder="Nome do evento"/>
			<br/>
			<label>Data Inicio</label>
			<input type="date" id="dataInicio" name="dataInicio" placeholder="Data do Inicio do evento "/>
			<br/>
			<label>Data Fim</label>
			<input type="date" id="dataFim" name="dataFim" placeholder="Data do fim do evento"/>
			<br/>
			<label>Descrição</label>
			<textarea type="text" id="descricao" name="descricao" rows="5" cols="30"></textarea>
			<br/>
			<input type="submit" value="Enviar"/>
		</form>

	</body>
</html>